# Copy this file to .env and set your secure local passwords

# Mandatory platform env vars
CLUSTER_DOMAIN=127.0.0.1.nip.io
LOCAL_REGISTRY=http://host.k3d.internal:8081

# Dependency env vars
VAULT_ROOT_TOKEN=your-secure-token
MINIO_ROOT_PASSWORD=your-secure-password
POSTGRES_PASSWORD=your-secure-password
RABBITMQ_PASSWORD=your-rabbitmq-password
REDIS_PASSWORD=secure-redis-pass
ELASTIC_PASSWORD=secure-elastic-pass